

.subscr-customer-container{
    width: 800px;
    height: 800px;
    background-color: white;
    margin: 0 auto;
    margin-top: 200px;
    border: solid black 3px;
    border-radius: 12px;
    padding: 5px;
  
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
      -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
      box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);  

   position: relative;
}

.subscr-customer-footer{
    position: absolute;
    bottom: 0;
}